.link-button{
        text-decoration: none;
        background-image: linear-gradient(rgb(255, 174, 0), tomato);
        padding: 8px 30px;
        border-radius: 7px;
        color: white;
        font-weight: 400;
}